@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Outfit', sans-serif;
  --font-body: 'Inter', sans-serif;
  --color-primary: #2563EB;
  --color-background-light: #F8FAFC;
  --color-background-dark: #0F172A;
  --color-card-light: #FFFFFF;
  --color-card-dark: #1E293B;
}